<div class="container">
  <div class="row">
    <h3><%= @member.family_name %><%= @member.first_name %>さんの会員情報編集</h3>
    <%= form_for(@member, url: admin_member_path) do |f| %>
      <h4>会員ID<%= @member.id %></h4>
      <h4>氏名</h4>
        <%= f.text_field :family_name %><%= f.text_field :first_name %>
      <h4>フリガナ</h4>
        <%= f.text_field :kana_family_name %><%= f.text_field :kana_first_name %>
      <h4>郵便番号</h4>
        <%= f.text_field :postal_code %>
      <h4>住所</h4>
        <%= f.text_field :address %>
      <h4>電話番号</h4>
        <%= f.text_field :telephone_number %>
      <h4>メールアドレス</h4>
        <%= f.text_field :email %>
      <h4>会員ステータス
        <label><%= f.radio_button :is_withdeawal_status, true,{:checked => true} %>有効</label>
        <label><%= f.radio_button :is_withdeawal_status, false %>無効</label></h4>

        <%= f.submit '変更を保存する', class: "btn btn-primary"%>
    <% end %>
  </div>
</div>

