<h1>　さんの会員詳細</h1>

<table class="table">
  <thead>
    <tr>
      <th>顧客ID</th>
      <th>氏名</th>
      <th>フリガナ</th>
      <th>郵便番号</th>
      <th>住所</th>
      <th>電話番号</th>
      <th>メールアドレス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td><%= @member.family_name @member.first_name %></td>
      <td><%= @member.kana_family_name @member.kana_first_name %></td>
      <td><%= @member.postal_code %></td>
      <td><%= @member.address %></td>
      <td><%= @member.telephone_number %></td>
      <td><%= @member.email %></td>
    </tr>
  </tbody>
</table>

<btn><%= link_to "編集する",, class: "btn btn-primary" %></btn>

<btn><%= link_to "一覧を見る",, class: "btn btn-primary" %></btn>
