<h1>注文履歴詳細</h1>
<% subtotals = [] %>
<%= form_with(model: @order, url:admin_order_path) do |f| %>

<table class="table">
  <thead>
    <tr>
      <th>購入者</th>
      <th>配送先</th>
      <th>支払い方法</th>
      <th>注文ステータス</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @order.member.family_name + @order.member.first_name %></td>
      <td><%= @order.postal_code %><%= @order.address %><%= @order.receiver %></td>
      <td><% if @order.payment_method = true %>クレジットカード
        　　　<% else %>銀行振込
        　<% end %></td>
      <td><%= f.select :order_status, [["入金待ち","waiting_for_payment"],["入金確認","payment_confirmation"],["製作中","making"],["発送準備中","prepairing_for_shipping"],["発送済み","sent"]] %></td>
       <td><%#= f.select :order_status, @order.order_status.keys, {}, {class: 'hoge'} %></td>
      <td><%= f.submit '更新',class: "btn btn-primary"%></td>
    </tr>
  </tbody>
</table>
<% end %>

<%= form_with(model: @order, url:admin_order_detail_path) do |usagi| %>

<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @order.order_products.each do |order_product| %>
    <%= @order.order_status %>
    <%= order_product.product_status %>
      <td><%= order_product.product.name %></td>
      <td><%= taxed_price = (order_product.product.non_taxed_price * 1.08).round(0) %></td>
      <td><%= order_product.quantity %></td>
      <% subtotal = taxed_price * order_product.quantity %>
      <td><%= subtotal %></td>
      <td><%= usagi.select :product_status, [["着手不可",0],["制作待ち",""],["制作中",2],["制作完了",3]] %></td>
      <td><%= usagi.submit '更新',class: "btn btn_primary" %></td>
      <% subtotals.push(subtotal) %>
    <% end %>
    </tr>
  </tbody>
</table>
<% end %>

<h3>商品合計</h3>
<%= subtotals.sum %>
<h3>送料</h3>
<%= postage %>
<h3>請求合計金額</h3>
<%= subtotals.sum + postage %>

