<h1>注文履歴詳細</h1>

<%= form_with(model: @order, url:admin_order_path) do |f| %>

<table class="table">
  <thead>
    <tr>
      <th>購入者</th>
      <th>配送先</th>
      <th>支払い方法</th>
      <th>注文ステータス</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @order.member.family_name + @order.member.first_name %></td>
      <td><%= @order.postal_code %><%= @order.address %><%= @order.receiver %></td>
      <td><% if @order.payment_method = true %>クレジットカード
        　　　<% else %>銀行振込
        　<% end %></td>
      <td><%= f.select :order_status, [["入金待ち",0],["入金確認",1],["製作中",2],[ "発送準備中",3],["発送済み",4]] %></td>
      <td><%= f.submit '更新',class: "btn btn-primary"%></td>
    </tr>
  </tbody>
</table>
<% end %>



<%= form_with(model: @order, url:admin_order_detail_path) do |usagi| %>
<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
      <th></th>
    </tr>
  </thead>
  <% @order.eachs do |order| %>>
  <tbody>
    <tr>
      <td><%= order.order_product.name %></td>
      <td><%= order_product.tax_included_price(@order.order_product.non_taxed_price) %></td>
      <td><%= order_product.quantity %></td>
      <td><%= sub_total(@order) %></td>
      <td><%= @order.product.product_status %><%= f.number_field :quantity, min: 1 %><%= f.submit "更新",class: "btn btn-danger" %></td>
    </tr>
  </tbody>
  <% end %>
</table>

<h3>商品合計</h3>
<h3>送料</h3>
<h3>請求合計金額</h3>
<% end %>
