<div class="container">
	<div class="row">
		<h2>商品編集</h2>
		<%= form_for(@product, url: admin_product_path) do |f| %>

			<% if @product.errors.any? %>
				<div id="error_explanation">
					<h3><%= @product.errors.count %>error prohibited this obj from being saved:</h3>
						<% @product.errors.full_messages.each do |message| %>
							<%= message %>
						<% end %>
				</div>
			<% end %>
			<div class="row">
				<div class="col-xs-2"></div>
				<div><%= f.attachment_field :image, class: "image" %></div>
			</div><br>

			<div class="row">
				<div class="col-xs-2">商品名</div>
				<div class="col-xs-2"><%= f.text_field :name, class: "name" %></div>
			</div><br>
			<div class="row">
				<div class="col-xs-2">商品説明</div>
				<div class="col-xs-2"><%= f.text_area :introduction, class: "introduction" %></div>
			</div><br>
			<div class="row">
				<div class="col-xs-2">ジャンル</div>
				<div class="col-xs-2"><%= f.collection_select(:genre_id, Genre.all, :id, :name ) %></div>
			</div><br>
			<div class="row">
				<div class="col-xs-2">税抜き価格</div>
				<div class="col-xs-2"><%= f.text_field :non_taxed_price, class: "non_taxed_price" %>円</div>
			</div><br>
			<div class="row">
				<div class="col-xs-2">販売ステータス</div>
				<div class="col-xs-2"><%= f.select :sale_status, [["販売中",true],["売り切れ",false]] %></div>
			</div>

			<div class=" col-xs-3 col-md-offset-9 ">
				<%= f.submit '変更を保存', class: "btn btn-primary col-xs-4"  %>
			</div>
		<% end %>
	</div>
</div>
