<div class="container">
	<div class="row">
		<h1>商品新規登録</h1>
	</div>
	<div class="row">
		<%= form_for(@product, url: admin_products_path) do |f| %>
				<!-- エラーメッセージ表示-->
					<% if @product.errors.any? %>
						<div id="error_explanation">
							<h3><%= @product.errors.count %>error prohibited this obj from being saved:</h3>
								<% @product.errors.full_messages.each do |message| %>
									<%= message %>
								<% end %>
						</div>
					<% end %>
				<!-- エラーメッセージ表示-->
				<%= f.attachment_field :image %>
	</div>
	<div class="row">
		<table class="table">
			<tr>
				<th>商品名</th>
				<td><%= f.text_field :name%></td>
			</tr>
			<tr>
				<th>商品説明</th>
				<td><%= f.text_area :introduction %></td>
			</tr>
			<tr>
				<th>ジャンル</th>
				<td><%= f.collection_select :genre_id, Genre.all, :id, :name%></td>
			</tr>
			<tr>
				<th>税抜価格</th>
				<td><%= f.text_field :non_taxed_price %>円</td>
			</tr>
			<tr>
				<th>販売ステータス</th>
				<td><%= f.select :sale_status, [["販売中",true],["売り切れ",false]]%></td>
			</tr>
		</table>
	</div>
	<div class="row justify-content-end">
		<%= f.submit '新規登録', class: "btn btn-primary col-xs-3"  %>
	</div>
		<% end %>
</div>


