<div class="container">
	<div class="row">
		<h1>商品新規登録</h1>
	</div>
	<div class="row">
		<%= form_for(@product, url: admin_products_path) do |f| %>
				<!-- エラーメッセージ表示-->
					<% if @product.errors.any? %>
						<div id="error_explanation">
							<h3><%= @product.errors.count %>error prohibited this obj from being saved:</h3>
								<% @product.errors.full_messages.each do |message| %>
									<%= message %>
								<% end %>
						</div>
					<% end %>
				<!-- エラーメッセージ表示-->
			<form class="col-xs-4" >
				<span><%= f.attachment_field :image %></span><br>
			</form>
			<form class="col-xs-5 col-md-offset-5" >
					<div class="form-group">
						<label>商品名</label>
						<td><%= f.text_field :name%></td>
					</div>
					<div class="form-group">
						<label>商品説明</label>
						<td><%= f.text_area :introduction %></td>
					</div>
					<div class="form-group">
						<label>ジャンル</label>
						<td><%= f.collection_select :genre_id, Genre.all, :id, :name%></td>
					</div>
					<div class="form-group">
						<label>税抜価格</label>
						<td><%= f.text_field :non_taxed_price %>円</td>
					</div>
					<div class="form-group">
						<label>販売ステータス</label>
						<td><%= f.select :sale_status, [["販売中",true],["売り切れ",false]]%></td>
					</div>
			</form>
	</div>
			<div class=" col-xs-3 col-md-offset-9 actions">
				<%= f.submit '新規登録', class: "btn btn-primary col-xs-4"  %>
			</div>
		<% end %>
	</div>
</div>


