<h1>注文履歴詳細</h1>
<div class="row">
    <div class="col-xs-7">
      <h3>注文情報</h3>

      <% sum = 0 %>
      <table class="table table-bordered">
        <tr>
          <th class="active">注文日</th>
          <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
        </tr>

        <tr>
          <th class="active">配送先</th>
          <td><%= @order.postal_code %><br><%= @order.address %><br><%= @order.receiver %></td>
        </tr>

        <tr>
          <th class="active">支払方法</th>
          <td><% if @order.payment_method == true %>クレジットカード
            <% else %>銀行振込<% end %></td>
        </tr>

        <tr>
          <th class="active">ステータス</th>
          <td><%= @order.order_status %></td>
        </tr>
      </table>
    </div>

    <div class="col-xs-4">
      <h3>請求情報</h3>

      <% @order.order_products.each do |order| %>
        <% sum += sub_total(order.product.non_taxed_price,order.quantity) %>
      <% end %>

      <table class="table table-bordered">
        <tr>
          <th class="active">商品合計</th>
          <td><%= sum %></td>
        </tr>

        <tr>
          <th class="active">配送料</th>
          <td><%= postage %></td>
        </tr>

        <tr>
          <th class="active">ご請求金額</th>
          <td><%= @order.payment_amount %></td>
        </tr>
      </table>
    </div>

    <div class="col-xs-11">
      <h3>注文内容</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="active">商品</th>
              <th class="active">単価（税込)</th>
              <th class="active">個数</th>
              <th class="active">小計</th>
            </tr>
          </thead>
          <% @order.order_products.each do |order| %>
          <% sum += sub_total(order.product.non_taxed_price,order.quantity) %>
          <tbody>
    	        <td><%= order.product.name %></td>
              <td><%= price_included_tax(order.product.non_taxed_price) %></td>
              <td><%= order.quantity %></td>
              <td><%= sub_total(order.product.non_taxed_price,order.quantity) %></td>
          <% end %>
          </tbody>
        </table>
    </div>
