<h1>注文履歴詳細</h1>

<h2>注文情報</h2>
<% sum = 0 %>

<table class="table">
  <thead>
    <tr>
      <th>注文日</th>
      <th>配送先</th>
      <th>支払方法</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
      <td><%= @order.postal_code %><br><%= @order.address %><br><%= @order.receiver %></td>
      <td><%= @order.payment_method %></td>
      <td><%= @order.order_status %></td>
    </tr>
  </tbody>
</table>


<h2>請求情報</h2>

<table class="table">
  <thead>
    <tr>
      <th>商品合計</th>
      <th>配送料</th>
      <th>ご請求額</th>
    </tr>
  </thead>
  <% @order.order_products.each do |order| %>
      <% sum += sub_total(order.product.non_taxed_price,order.quantity) %>
     <% end %>
  <tbody>
    <td><%= sum %></td>
    <td><%= postage %></td>
    <td><%= @order.payment_amount %></td>
  </tbody>
</table>

<h2>注文内容</h2>

<table class="table">
  <thead>
    <tr>
      <th>商品</th>
      <th>単価（税込)</th>
      <th>個数</th>
      <th>小計</th>
    </tr>
  </thead>
  <% @order.order_products.each do |order| %>
      <% sum += sub_total(order.product.non_taxed_price,order.quantity) %>
      <tbody>
  	<td><%= order.product.name %></td>
    <td><%= price_included_tax(order.product.non_taxed_price) %></td>
    <td><%= order.quantity %></td>
    <td><%= sub_total(order.product.non_taxed_price,order.quantity) %></td>
    <% end %>
  </tbody>
</table>
