<div class="container">
  <div class="row">
    <h3>登録情報編集</h3>
  </div>

<%= form_for(@member, url: member_member_path) do |f| %>
    <div class="row">
      <div class="col-xs-2">名前</div>
      <div class="col-xs-1">(性)</div>
      <div class="col-xs-2"><%= f.text_field :family_name %></div>
      <div class="col-xs-1">(名)</div>
      <div class="col-xs-2"><%= f.text_field :first_name %></div>
    </div><br>
    <div class="row">
      <div class="col-xs-2">フリガナ</div>
      <div class="col-xs-1">(セイ)</div>
      <div class="col-xs-2"><%= f.text_field :kana_family_name %></div>
      <div class="col-xs-1">(メイ)</div>
      <div class="col-xs-2"><%= f.text_field :kana_first_name %></div>
    </div><br>
    <div class="row">
      <div class="col-xs-3">メールアドレス</div>
      <div class="col-xs-2"><%= f.text_field :email %></div>
    </div><br>
    <div class="row">
      <div class="col-xs-3">郵便番号（ハイフンなし）</div>
      <div class="col-xs-2"><%= f.text_field :postal_code %></div>
    </div><br>
    <div class="row">
      <div class="col-xs-3">住所</div>
      <div class="col-xs-2"><%= f.text_field :address %></div>
    </div><br>
    <div class="row">
      <div class="col-xs-3">電話番号（ハイフンなし）</div>
      <div class="col-xs-2"><%= f.text_field :telephone_number %></div>
    </div><br>
    <div class="row">
      <div class="col-xs-3"><%= f.submit '編集内容を保存する',class: "btn btn-primary"%></div>
            <% end %>
      <div class="col-xs-3"><%= link_to "退会する",member_members_unsubscribe_path, class: "btn btn-danger" %></div>
    </div><br>
</div>
