<div class="row">
  <div class="col-xs-7">
      <h1>マイページ</h1>

      <btn><font size= "4" >登録情報 </font><%= link_to "編集する", edit_member_member_path(@member), class: "btn btn-primary" %></btn>

      <%= link_to "パスワードを変更する", member_members_path(@member), class: "btn btn-primary" %>
      <h1></h1>

      <table class="table table-bordered ">
        <tr>
          <th class="active">氏名</th>
          <td><%= @member.family_name %> <%= @member.first_name %></td>
        </tr>

        <tr>
          <th class="active">カナ</th>
          <td><%= @member.kana_family_name %> <%= @member.kana_first_name %></td>
        </tr>

        <tr>
          <th class="active">郵便番号</th>
          <td><%= @member.postal_code %></td>
        </tr>

        <tr>
          <th class="active">住所</th>
          <td><%= @member.address %></td>
        </tr>

        <tr>
          <th class="active">電話番号</th>
          <td><%= @member.telephone_number %></td>
        </tr>

        <tr>
          <th class="active">住所</th>
          <td><%= @member.email %></td>
        </tr>
      </table>
      <h1></h1>

      <btn><font size= "4" >配送先 </font><%= link_to "一覧を見る",member_shipping_addresses_path, class: "btn btn-primary" %></btn>

      <btn><font size= "4" >注文一覧 </font><%= link_to "一覧を見る",member_orders_path, class: "btn btn-primary" %></btn>
  </div>
</div>
