<div class="contianer">
  <div class="row">
    <div class="message">
      <%= h(flash[:danger]) %>
    </div>

    <h2>商品一覧</h2>
      <tr>
        <th>ジャンル検索</th>
      </tr>
    <tbody>
    <% @genres.each do |genre| %>
      <% if genre.valid_status == true %>
        <tr>
          <td><%= link_to genre.name, member_products_path(genre_id: genre.id)%></td>
        </tr>
      <% end %>
    <% end %>
      <tr>
        <td><%= link_to "⇒ すべての商品を見る", member_products_path, class: 'dark-blue-letter' %></td>
      </tr>
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜き価格</th>
          </tr>
        </thead>
        <% if @search_product.present? %>
          <% @search_product.each do |product| %>
            <tbody>
              <tr>
                <td><%= attachment_image_tag(product, :image, :fill, 50, 50, fallback: "no-image-mini.jpg")%></td>
                <td><%= product.id %></td>
                <td><%= link_to product.name, member_product_path(product.id) %></td>
                <td><%= product.non_taxed_price %></td>
              </tr>
            </tbody>
          <% end %>
        <% else %>
          <% @products.each do |product| %>
            <tbody>
              <tr>
                <td><%= attachment_image_tag(product, :image, :fill, 50, 50, fallback: "no-image-mini.jpg")%></td>
                <td><%= product.id %></td>
                <td><%= link_to product.name, member_product_path(product.id) %></td>
                <td><%= product.non_taxed_price %></td>
              </tr>
            </tbody>
          <% end %>
        <% end %>
      </table>
  </div>
</div>