<div class="container">
	<div class="row">
		<div class="nav col-xs-6">
				<P>ジャンル検索</P>
					<ul>
						<li><a href="/products">ケーキ</a></li>
						<li><a href="/products">焼き菓子</a></li>
						<li><a href="/products">プリン</a></li>
						<li><a href="/products">キャンディ</a></li>
					</ul>
		</div>

		<div class="product col-xs-6">
			<%= form_for(@product, url: member_cart_products_path) do |f| %>
			<%= attachment_image_tag(@product, :image, :fill, 50, 50, fallback: "no-image-mini.jpg")%>
			<%= @product.name %>
			<%= @product.introduction %>
			¥<%= @product.non_taxed_price %>(税込)
			<%= select_tag 'quantity', options_for_select([['個数選択', ''], ['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5']]) %>
			<%= link_to "カートに入れる",member_cart_products_path, class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>

