<div class="container">
	<div class="row">
		<div class="nav col-xs-6">
				<P>ジャンル検索</P>
					<ul>
						<li><a href="/products">ケーキ</a></li>
						<li><a href="/products">焼き菓子</a></li>
						<li><a href="/products">プリン</a></li>
						<li><a href="/products">キャンディ</a></li>
					</ul>
		</div>

		<div class="product col-xs-6">
				<%= attachment_image_tag(@product, :image, :fill, 50, 50, fallback: "no-image-mini.jpg")%>
				<%= @product.name %>
				<%= @product.introduction %>
				<%= @product.price_included_tax (@product.non_taxed_price) %>(税込)
				<%= form_for(@product_new) do |f| %>
  					<%= f.text_field :quantity %>
  					<%= f.submit '変更を保存する', class:"btn btn-primary" %>
				<% end %>


				<%= link_to "カートに入れる",member_cart_products_path, class: "btn btn-primary" %>
		</div>
	</div>
</div>
