<div class="container">
	<div class="row">
		<div class="nav col-xs-6">
				<P>ジャンル検索</P>
					<ul>
						<li><a href="/products">ケーキ</a></li>
						<li><a href="/products">焼き菓子</a></li>
						<li><a href="/products">プリン</a></li>
						<li><a href="/products">キャンディ</a></li>
					</ul>
		</div>
		<div class="product col-xs-6">
			<%= product.image %>
			<%= product.name %>
			<%= product.introduction %>
			<%= product.non_taxed_price %>*0.8(税込)
			< 個数選択 >
			<%= link_to "カートに入れる", edit_book_path(@book), class: "btn-sm btn-success edit_book_#{@book.id}" %>
		</div>
	</div>
</div>
