<div class="container">
	<div class="row">
		<div class="col-xs-1">
		</div>
		<div class="col-xs-5 genre">
			<h3>ジャンル検索</h3>
  				<%= render "member/shared/member_genres", genres: @genres %>
		</div>
		<div class="col-xs-6 text">
			<h3><strong>ようこそ、NaganoCakeへ！</strong></h3>
				<p>このサイトは、ケーキ販売のECサイトになります。<br>
				会員でない方も商品の閲覧はできますが、<br>
				購入には会員登録が必要になります。</p>
		</div>
	</div>
		<h3 class="s1">オススメ商品</h3>
			<div class="row recommend">
				<div class="col-xs-1">
				</div>
				<div class="col-xs-2">
					<%= image_tag 'tamagopurin.jpg', :size => '180x130' %>
					<p>まるごとたまごプリン</p>
					<p class="only">通販限定</p>
				</div>
				<div class="col-xs-2">
					<%= image_tag 'kabotya.jpg', :size => '180x130' %>
					<p>まるごとかぼちゃプリン</p>
					<p class="only">通販限定</p>
				</div>
				<div class="col-xs-2">
					<%= image_tag 'itigo.jpg', :size => '180x130' %>
					<p>いちごのショートケーキ</p>
					<p class="only">通販限定</p>
				</div>
				<div class="col-xs-2">
					<%= image_tag 'panda.jpg', :size => '180x130' %>
					<p>パンダロールケーキ</p>
					<p class="only">通販限定</p>
				</div>
				<div class="col-xs-2">
					<%= image_tag 'mu-su.jpg', :size => '180x130' %>
					<p>ババロア</p>
					<p class="only">通販限定</p>
				</div>
				<div class="col-xs-1">
				</div>
			</div>
			<div class="row recommend">
				<div class="col-xs-1">
				</div>
				<div class="col-xs-2">
					<%= image_tag 'aoke-ki.jpg', :size => '200x130' %>
					<p>青いケーキ</p>
					<p class="only">通販限定</p>
				</div>
				<div class="col-xs-2">
					<%= image_tag 'pancake.jpg', :size => '180x130' %>
					<p>パンケーキ</p>
					<p class="only">通販限定</p>
				</div>
				<div class="col-xs-2">
					<%= image_tag 'itigo2.jpg', :size => '160x130' %>
					<p>イチゴクリームケーキ</p>
					<p class="only">通販限定</p>
				</div>
				<div class="col-xs-2">
					<%= image_tag 'meron.jpg', :size => '160x130' %>
					<p>まるごとメロンケーキ</p>
					<p class="only">　　通販限定　　</p>
				</div>
				<div class="col-xs-2">
					<%= image_tag 'painappulu.jpg', :size => '160x130' %>
					<p>まるごとパインケーキ</p>
					<p class="only">　　通販限定　　</p>
				</div>
				<div class="col-xs-1">
				</div>
			</div>
			
	</div>
</div>
