<div class="main-visual">
	<div class="welcome">
		<p class="welcome-text">美味しいケーキが<br><span class="you">あなた</span>を至福のひと時へ</p>
	</div>
</div>
<div class="container">
<div class="row">
	<div class="col-xs-12 text">
		<h3>ようこそ、NaganoCakeへ！</h3>
			<p>このサイトは、ケーキ販売のECサイトになります。<br>
			会員でない方も商品の閲覧はできますが、<br>
			購入には会員登録が必要になります。</p>
	</div>
</div>
<div class="row">
	<div class="col-xs-2">
	</div>
	<div class="col-xs-2 genre">
		<h3>ジャンル検索</h3>
  			<%= render "member/shared/member_genres", genres: @genres %>
	</div>
	<div class="col-xs-2">
	</div>
	<div class="col-xs-6 cohi">
	</div>
</div>

<h3 class="s1">オススメ商品一覧</h3>
<div class="recommend-index">
	<div class="row recommend">
		<% @products.each do |product| %>
			<% if product.sale_status == true %>
            <div class="list-box">
            	<%= link_to member_product_path(product.id) do %>
                	<%= attachment_image_tag product, :image, size: "180x130" %>
                <% end %>
                	<div class="list-comment"><%= product.introduction %></div>
                	<div class="list-title"><%= product.name %></div>
            </div>
            <% end %>
        <% end %>
    </div>
</div>
</div>