<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="logo">
      </div>
      <div class="nav">
        <ul>
          <li class="btn">商品一覧</li>
          <li class="btn">会員一覧</li>
          <li class="btn">注文履歴一覧</li>
          <li class="btn">ジャンル一覧</li>
          <li class="btn">ログアウト</li>
        </ul>
      </div>
      <div class="search">
        <
      </div>
    </header>
    <div class="main">
      <%= yield %>
    </div>
    <div class="footer">

    </div>
  </body>
</html>
