<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="logo">
        logo
      </div>
      <% if member_signed_in? %>
        <nav class="nav member-after-login">
          <p>ようこそ、xxさん！</p>
            <ul>
              <li><%= link_to 'マイページ', members_members_show_path(current_member), class: "col-xs-1 btn btn-default" %></li>
              <li><%= link_to '商品一覧', members_products_index_path(current_member), class: "col-xs-1 btn btn-default" %></li>
              <li><%= link_to 'カート', members_cart_products_index_path(current_user), class: "col-xs-1 btn btn-default" %></li>
              <li><%= link_to 'ログアウト', destroy_member_session_path, method: :delete, class: "col-xs-1 btn btn-default" %></li>
            </ul>
        </nav>
      <% elsif admin_signed_in? %>
        <nav class="nav admin-after-login">
          <ul>
             <li><%= link_to '商品一覧', admins_products_index_path, class: "col-xs-1 btn btn-default" %></li>
              <li><%= link_to '会員一覧', admins_members_index_path, class: "col-xs-1 btn btn-default" %></li>
              <li><%= link_to '注文履歴一覧', admins_order_index_path, class: "col-xs-1 btn btn-default" %></li>
               <li><%= link_to 'ジャンル一覧', admins_genres_index_path, class: "col-xs-1 btn btn-default" %></li>
              <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "col-xs-1 btn btn-default" %></li>
          </ul>
        </nav>
      <% else %>
        <nav class="nav member-before-login">
          <ul>

          </ul>
        </nav>
      <% end %>

      <div class="search">
      </div>

    <div class="main">
      <%= yield %>
    </div>

    <div class="footer">
    </div>

  </body>
</html>
